#create{
    border: 2px solid hsl(220, 19%, 82%,0.6);
    padding: 8px 8px;
    height: 270px;
    border-radius: 150px;
    background-color: hsl(220, 19%, 82%,0.6);
    width: 280px;
   margin-left: 290px;
   margin-bottom: 40px;
    
    
}